page-login {
.fondo{
	    background-image: url(https://s-media-cache-ak0.pinimg.com/originals/2b/45/cf/2b45cfec4c0d3c56aed4ccd30b61bd3a.jpg);
    background-size: cover;

}
.transparente{
	background-color: rgba(238, 233, 226, 0);
}

}
