<ion-header>

  <ion-navbar color="azul">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="card-background-page">

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-fab top right *ngIf="so!='ios'">
    <button ion-fab mini>
      <ion-icon name="add"></ion-icon>
    </button>
    <ion-fab-list>
      <button ion-fab (click)="exitApp()">
        <ion-icon name="exit"></ion-icon>
      </button>

    </ion-fab-list>
  </ion-fab>

  <ion-grid style="padding: 0px !important;" *ngIf="nombre!=null">
    <ion-row>
      <ion-col col style="color: grey; font-size: 16px;padding-left: 10px;  padding-top: 10px;">
        <ion-icon name="person"></ion-icon> Hola {{ nombre }}
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-card *ngIf="parametros[0].modo_liberacion==='SI'" (click)="goToBlocks(1)" class="cardpark">
    <img src="assets/img/image.jpg" />
    <div class="card-title">Parqueadero Transelca</div>
    <div class="card-subtitle">Ver Espacios Disponibles</div>
  </ion-card>

  <ion-grid paddig0 style="padding: 0px !important;">
    <ion-row paddig0>
      <ion-col col paddig0>
        <div class="cardt" *ngIf="parametros[0].modo_liberacion==='SI'">
          <h5 style="text-align: center;margin: 3px;">Disponibles HOY {{ glo }}</h5>
          <p style="font-size: 22px;margin: 3px;color: #00d13b">{{ numSpaceFree }}</p>
        </div>
        <div class="cardt" *ngIf="parametros[0].modo_liberacion==='NO'">
          <h5 style=" text-align: center;margin: 3px;">Reservas Asignadas</h5>
          <p style="font-size: 22px;margin: 3px;color: #00d13b">{{num_reservas}}</p>
        </div>
      </ion-col>
      <ion-col col>
        <div class="cardt">
          <h5 style="text-align: center;margin: 3px;">Total Espacios</h5>
          <p style="font-size: 22px;margin: 3px;color: #00d13b">{{ numSpace }}</p>
        </div>
      </ion-col>
    </ion-row>
    <!-- Info para Propietrarios -->
    <ion-row *ngIf="roluser!=='3'">
      <ion-col cl col-12 class="full" text-center>
        <p class="esp">422 </p>
        <p no-margin>Mi espacio</p>
      </ion-col>
    </ion-row>
    <ion-row text-center *ngIf="userLocalStorage === true && roluser!=='3'">
      <ion-col>
        <ion-item>
          <ion-label>Liberar Hoy</ion-label>
          <ion-select [(ngModel)]="hoy" cancelText="Cancelar" okText="Liberar" (ionChange)="guardarLiberacion(hoy, 0)">
            <ion-option value="0">Todo el dia</ion-option>
            <ion-option value="1">Mañana</ion-option>
            <ion-option value="2">Tarde</ion-option>
          </ion-select>
        </ion-item>
        <!--
          <button ion-button [disabled]="false" (click)="presentProfileModal()" outline block color="danger">Liberar Hoy</button>
        -->
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label>Liberar Mañana</ion-label>
          <ion-select [(ngModel)]="man" cancelText="Cancelar" okText="Liberar" (ionChange)="guardarLiberacion(hoy, 1)">
            <ion-option value="0">Todo el dia</ion-option>
            <ion-option value="1">Mañana</ion-option>
            <ion-option value="2">Tarde</ion-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>

  </ion-grid>
  <ion-row paddig0 *ngIf="userutilizaspace!=null">
    <ion-col col paddig0 style="color: #fd8585; font-size: 16px;padding-left: 10px;">
      Puesto ocupado por: {{ userutilizaspace }}
    </ion-col>
  </ion-row>

  <ion-row no-padding *ngIf="reservas_actuales">
    <ion-col col paddig0>
      <ion-card no-margin no-padding>

        <ion-card-content>
          <h4 text-left no-margin><b>Resumen de tu reserva:</b> </h4>
          <p text-left no-margin *ngFor="let item of reservas_actuales"> Se te ha asignado el puesto
            {{item.numero_espacio}}, Jornada: {{item.jornada}}.
          </p>
        </ion-card-content>

      </ion-card>
    </ion-col>
  </ion-row>



  <h3 padding class="disp" *ngIf="parametros[0].modo_liberacion==='SI'">
    Disponibles Hoy
  </h3>
  <div *ngIf="utilizalugar =='0' && parametros[0].modo_liberacion==='SI'">
    <ion-list (click)="goToSpacedetail(fs.espacioid)" *ngFor="let fs of spacesFree" class="no-margin">
      <carspace puesto="{{fs.nombre}}" hora="{{fs.hora}}"></carspace>
    </ion-list>
  </div>


  <ion-grid *ngIf="utilizalugar =='1'" style="padding: 0px !important;">
    <ion-row>
      <ion-col col style="color: grey; font-size: 16px;padding-left: 10px;  padding-top: 10px;">
        <ion-icon name="car"></ion-icon> Estoy utilizando el espacio: {{ SpaceOccupiedForMe }}
      </ion-col>
    </ion-row>

  </ion-grid>


  <ion-grid>
    <ion-row>
      <button *ngIf="utilizalugar =='1'" (click)="unlockSpace()" ion-button block color="danger"
        style="margin-left: 5px;margin-right: 5px">Desbloquear Espacio</button>
    </ion-row>
  </ion-grid>



</ion-content>