carspace {
    .priceold{
        position: absolute;
        right: 3px;
        top: 27px;
        color: rgb(238, 238, 238);
        font-size: 1em;
        text-decoration: line-through ;
        text-decoration-color: red;
    }
    .pricenew{
        position: absolute;
        right: 3px;
        top: 47px;
        color: green;
        font-size: 1em;    
    }
    .newdish{
        position: absolute;
        background-color: #ff4a4a;
        bottom: 6px;
        padding-top: 3px;
        height: 16px;
        width: 60.5px;
        color: white;
        font-size: 0.8em;
    }
    .item-md.item-block .item-inner {
        border-bottom: none;
    }
    .item-md ion-thumbnail {
        width: 60px;
        height: 60px;
        min-width: 50px; 
        min-height: 50px; 
        .img{
             width: 60px;
            height: 60px;     
        }
    }
    .font{
        font-size: 1.9em;

    }
    .color{
    width: 25px;
    height: 25px;
    border-radius: 50%;
  
    float: right;
    position: absolute;
    top: 36px;
    right: 15px;
    box-shadow: 0px 0px 5px 1px rgba(87, 87, 87, 0.75);
   
  }
  .red{
     background-color:#fc3838;
  }
  
  .orange{
      background-color: #f1a821;
    }
  
  .green{
    background-color: rgba(0, 128, 0, 0.541);
  }
  .shadown{
      box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.17);
  }
 
}
